.ExperiencesSection {
    margin: 75px 0;
    padding: 0 5vw;
}

.ExperiencesTables {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 45px;
}

.ExperiencesBloc {
    width: 48%;
    margin-top: 25px;
}

.ExperiencesCards {
    border: 2px solid #374151;
    border-radius: 25px;
}

.ExperiencesTitle {
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
    color: var(--secondary-text-color);
}

@media (max-width: 1100px) {
    .ExperiencesBloc {
        width: 100%;
    }
    .ExperiencesBloc:first-of-type {
        margin-bottom: 50px;
    }
}













