.ExpEducCard {
    width: 100%;
    border: 1px solid #DDDDDD;
    padding: 30px;
    border-radius: 5px;
    height: 250px;
    margin-bottom: 35px;
}

.ExpEducCard:last-child {
    margin-bottom: 0;
}

.ExpEducCardDates {
    background-color: var(--secondary-text-color);
    display: inline-block;
    color: var(--primary-color);
    padding: 5px 15px;
    border-radius: 15px;
    font-weight: 500;
    margin-bottom: 15px;
}

.ExpEducCardName, .ExpEducCardDescription {
    margin-bottom: 15px;
    white-space: normal;
}

.ExpEducCardName {
    font-size: 22px;
    font-weight: 600;
    height: calc(1.5rem * 2);
}

.ExpEducCardDescription {
    height: calc(1.5rem * 2);
}

.ExpEducCardPlace {
    font-weight: 500;
}

@media (max-width: 768px) {
    .ExpEducCardDescription, .ExpEducCardName {
        height: auto;
    }
    .ExpEducCard {
        padding: 25px;
        height: 225px;
    }
}

@media (max-width: 480px) {
    .ExpEducCard {
        height: 290px;
    }
}
