.FooterDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 100px;
    color: var(--primary-text-color);
    background-color: #0C1425;
}

.FooterContacts {
    display: flex;
    align-items: center;
    gap: 15px;
}

.FooterName {
    font-weight: 500;
}

.FooterIcon {
    font-size: 24px;
    color: var(--primary-text-color);
}

.FooterMail {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
}

.FooterMail:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .FooterDiv {
        flex-direction: column;
        gap: 10px;
    }
}
