:root {

    --primary-font: "Work Sans", serif;

    --primary-text-color:   white;
    --secondary-text-color: #A7C7E7;

    --primary-color:        #0F172A;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

body {
    margin: 0 auto;
    padding-top: 70px;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

.BodyContent {
    max-width: 1440px;
    margin: 0 auto ;
}
