.ProjectCard {
    width: 31%;
    margin-bottom: 35px;
    border: 1px solid lightgray;
    padding: 30px;
    border-radius: 25px;
    color: var(--primary-text-color);
    text-decoration: none;
}

.ProjectCardImg {
    width: 100%;
    aspect-ratio: 1.2;
    border-radius: 25px;
    object-fit: cover;
    object-position: top;
}

.ProjectCardTitle {
    margin-top: 15px;
    font-size: 24px;
    font-weight: 600;
}

.ProjectCardDescription {
    margin-top: 20px;
    line-height: 22px;
}

.ProjectCardCategory {
    max-width: 150px;
    text-align: center;
    background-color: var(--secondary-text-color);
    padding: 5px 15px;
    color: var(--primary-color);
    font-weight: 500;
    border-radius: 25px;
    margin-top: 15px;
}

.ProjectCardSkills {
    margin-top: 10px;
    font-weight: 500;
}

@media (max-width: 1024px) {
    .ProjectCard {
        width: 48%;
    }
}

@media (max-width: 480px) {
    .ProjectCard {
        width: 100%;
    }

    .ProjectCardTitle, .ProjectCardDescription, .ProjectCardSkills {
        text-align: center;
    }

    .ProjectCardCategory {
        justify-self: center;
    }
}
