.SkillCard {
    width: 48%;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-decoration: none;
    text-align: center;
}

.SkillCardTitle {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 5px;
    color: var(--secondary-text-color);
}

.SkillCardDescription {
    font-size: 18px;
    line-height: 25px;
    margin-top: 10px;
    color: var(--primary-text-color);
    margin-bottom: 15px;
}

.SkillCardList {
    margin-top: 22px;
    display: flex;
    justify-content: center;
    row-gap: 25px;
    flex-wrap: wrap;
}

.SkillCardIcon {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 7px;
}

.SkillCardIcon:hover {
    color: var(--secondary-text-color);
}

.SkillCardIcon svg {
    font-size: 40px;
}

.SkillCardIcon::before {
    font-size: 24px;
    color: white;
}

@media (max-width: 1023px) {
    .SkillCard {
        width: 100%;
    }
    .SkillCard:not(:last-child) {
        margin-bottom: 35px;
    }
}

@media (max-width: 540px) {
    .SkillCardIcon {
        width: 47%;
    }
    .SkillCard {
        padding: 30px 30px;
    }
}
